<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parámetros del request HTTP GET - URL</h1>
<li>
    <a th:href="@{/params/string(texto='Hola Darwin')}">/params/string?texto=Hola Darwin</a></li>
<li>
    <a th:href="@{/params/string(texto='Que tal John!!')}">/params/string?texto=Que tal Hohn!!</a></li>
<li>
    <a th:href="@{/params/mix-params(saludo='Como estas Darwin', numero=7)}">/params/mix-params?saludo=Como estas Darwin&numero=7</a></li>
</body>
</html>